<style type="text/css">
@media screen and (max-width:1024px) and (min-width: 300px) {
    #tvc_modal_body{width: 85%!important;}
    td{display: block;width: 100%!important;}
    #tvc_role_img_mob{display: block!important;margin-top: 20px;}
    #tvc_role_img_web{display: none!important;}
    #tvc_modal_close span{font-size: 60px!important;}
    #tvc_popup{padding-top: 20%!important;}
}

#tvc_popup{display:none;position: fixed;z-index: 99999;padding-top: 7%;padding-bottom: 30px;left: 0;top: 0px;width: 100%;height: 100%;overflow: auto;background-color: rgba(0,0,0,0.4);font-weight: 500;}
#tvc_modal_body{position: relative;background-color: #fefefe;margin: auto;padding: 0;border: 1px solid #888;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);-webkit-animation-name: animatetop;-webkit-animation-duration: .4s;animation-name: animatetop;animation-duration: .4s;width: 50%;}
#tvc_modal_close{color: white;padding: 14px 16px;font-size: 19px;border-top-left-radius: 8px;border-top-right-radius: 8px;"> <span style="float: right;font-size: 32px;font-weight: 700;line-height: 1;color: #646363;opacity: .6;margin-top: -1%;}
.tvc_modal_select{border: 1px solid #575757!important;border-radius: 4px;width: 90%;margin-top: 4px;height: 40px;padding: 0 8px;background-color: white;text-align: left;}
#tvc_modal_button{background-color: #e5002d;color: white;font-size: 15px;line-height: 2.8;padding: 0 1.5em;text-transform: uppercase;overflow: hidden;display: inline-block;vertical-align: top;text-align: center;white-space: nowrap;position: relative;border: none;z-index: 0;cursor: pointer;transition: background-color 0.3s,box-shadow 0.3s,opacity 0.3s,color 0.3s;-webkit-tap-highlight-color: rgba(0,0,0,0);margin-top: 17px;}
  
@media screen and (max-width:1024px) and (min-width: 300px) {
    #tvc_modal_body2 {
        width: 85%!important;
    }
    #tvc_popup2 td {
        display: block;
        width: 100%!important;
    }
    #tvc_role_img_mob2 {
        display: block!important;
        margin-top: 20px;
    }
    #tvc_role_img_web2 {
        display: none!important;
    }
    #tvc_modal_close2 span {
        font-size: 15px!important;
    }
    #tvc_popup2 {
        padding-top: 15%!important;
    }
    #tvc_popup2 table {
        font-size: 15px!important;
    }
    .tvc_input_type {
        font-size: 15px!important;
    }
    .tvc_inactive {
        display: none!important;
    }
}

#tvc_popup2 {
    position: fixed;
    z-index: 99999;
    padding-top: 7%;
    padding-bottom: 30px;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

#tvc_modal_body2 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s;
    width: 50%;
}

#tvc_modal_close2 {
    color: white;
    padding: 14px 16px;
    font-size: 19px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    "> <span style="float: right;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #646363;
    opacity: .6;
    margin-top: -1%;
}

.tvc_modal_select {
    border: 1px solid #575757!important;
    border-radius: 4px;
    width: 90%;
    margin-top: 4px;
    height: 40px;
    padding: 0 8px;
    background-color: white;
    text-align: left;
}

#tvc_modal_button2 {
    background-color: #e5002d;
    color: white;
    font-size: 15px;
    line-height: 2.8;
    padding: 0 1.5em;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    position: relative;
    border: none;
    z-index: 0;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-top: 17px;
}

.tvc_input_type {
    font-size: 15px;
  font-weight:300;
}

#tvc_popup2 td {
    border-style: hidden!important;
    padding: 0!important;
}

#tvc_popup2 tr {
    border-style: hidden!important;
}
</style>